title: Philipp Krah 
position: AI Researcher in Plasma Fusion
affiliation: |
  IRFM - CEA Cadarache, <br>
  Groupe Calcul Intensif et Infrastructures Informatiques, <br>
  13108 Saint-Paul-lez-Durance, <br> 
  France
email: philipp.krah(at)cea.fr
description: Computational physicist how loves cats.
keywords: Computational Physics, AI, Model Order Reduction, Data Science
google_scholar: https://scholar.google.com/citations?user=FSv1I7gAAAAJ&hl=de
github_link: https://github.com/Philipp137
  #cv_link: ./assets/other/CV_PhilippKRAH_March2024.pdf
avatar: ./assets/img/bild.jpeg
favicon: ./assets/img/favicon.png
favicon_dark: ./assets/img/favicon-dark.png
canonical: https://minimal-light.yyliu.net/
remote_theme: yaoyao-liu/minimal-light
baseurl: "/Philipp137.github.io" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username: philipp137

# Build settings
#theme: minima
plugins:
  - jekyll-feed

defaults: 
  -
    scope:
      path: ""
    values:
      layout: "post"
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
